<h1>Jungle Website</h1>

<p>Jungle is a retail website where a you can browse many items of different categories and buy them on our website. We have many categories of items like Apparel, Furniture and Electronics. You can see our list of  products along with their prices on Home page.  You just need to have a credit card when placing an order and website will direct you to orders page displaying your order number.</p>
