<h1>Admin Dashboard</h1>
<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Count</th>
        </tr>
      </thead>
        <tr>
          <th>Product</th>
          <th><%=@product_count%></th>       
        </tr>
     
       <tr>
          <th>Category</th>
          <th><%=@category_count%></th>       
       </tr>
    </table>
  </div>
